<h1>Editing about content</h1>

<%= render "form", about_content: @about_content %>

<br>

<div>
  <%= link_to "Show this about content", @about_content %> |
  <%= link_to "Back to about contents", about_contents_path %>
</div>
